* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}

h1 {
    margin: 60px 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}

p {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 1.5;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg>div>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg>div>video {
        height: 300% !important;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg>div>video {
        width: 300% !important;
        left: -100%;
    }
}
.ss-alert-content{
position: absolute;
z-index: 1000;
top:0;
right:0;
color:#fff;
font-size:6vw;
width:25vw;
height:100vh;
}



/*other styles*/

body{
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.ss-table{
  display:table;
}
.ss-row{
  display:table-row;
}
.ss-cell{
  display:table-cell;
  vertical-align: middle;
}
.ss-overlay-yellow{
  background-color:rgba(200,200,0,0.5);
  /*border:0.1vw solid rgb(200,200,0);*/
}
.ss-overlay-orange{
  background-color:rgba(255,165,0,0.5);
  /*border:0.1vw solid rgb(200,200,0);*/
}
.ss-overlay-red{
  background-color:rgba(200,0,0,0.3);
    /*border:0.1vw solid rgb(200,0,0);*/
}
.ss-icon-warrant{
  /*background-image:url('../images/warrant.png');*/
  background-image:url('../images/handcuffs.png');
}

.ss-icon-missing{
  /*background-image:url('../images/missing.png');*/
  background-image:url('../images/missing-head-orange.png');
}
.ss-icon{
  height:7vw;
  width:7vw;
  background-size:contain;
  background-repeat: no-repeat;
  display:inline-block;
  margin-top:-5vh;
  margin-right:0.8vw;
}
.ss-overlay{
  padding:1vw;
  border-radius: 0.5vw;
}
.ss-overlay-bottom-left{
  position: absolute;
  bottom:2%;
  left:2%;
}
.ss-overlay-top-left{
  position: absolute;
  top:5%;
  left:2%;
}
.ss-overlay-bottom-right{
  position: absolute;
  bottom:2%;
  right:2%;
}
.overlay-text{
  text-transform: uppercase;
  font-size:2.4vw;
  color:#ddd;
  text-shadow: 0px 0px 1px #111;
}
.warrant-name{
  font-size:1.6vw;
}
.ss-list-button{
  position:absolute;
  top:0%;
  right:0%;
  padding:2%;
  font-size:8vw;
  text-decoration: none;
  color:#ddd;
}
.ss-input-list{
  margin:2vw;
  padding:4vw;
  border:1px solid #999;
  border-radius: 1vw;
}
.ss-status-text{
  font-size:3vw;
  color:#ddd;
  text-shadow: 0px 0px 20px #111;
  margin:1vw;
}
.ss-status-dot{
  padding:2vw;
  border-radius: 50%;
  background:#ddd;
}
.ss-dot-face{
background-color:rgba(0,200,0,0.4);
}
.ss-dot-noface{
background-color:rgba(200,0,0,0.4);
}
.ss-warrant-image{
  height:10vw;
  width:20vw;
  background-size:contain;
  background-repeat: no-repeat;
  display:inline-block;
  background-image:url('../images/wanted.png');
}

/*loading animation*/
.spinner {
  width: 4vw;
  height: 4vw;
  background-color: #ddd;

  /*margin: 100px auto;*/
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


/*progress bars*/
.ss-progress-container{
  background:rgba(200,200,200,0.4);
  width:25vw;
  padding:0.3vw;
  margin:0.3vw;
}
.ss-progress{
  height:2.4vh;
  font-size:0.9vw;
  width:0%;
  color:#111;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.ss-sadness{
  background-color:rgba(0, 0, 200, 0.7);
}
.ss-anger{
  background-color:rgba(200, 0, 0, 0.7);
}
.ss-happy{
  background-color:rgba(0, 200, 0, 0.7);
}
