<div class="fullscreen-bg">
  <webcam
       on-stream="onStream(stream)"
       on-error="onError(err)"
       on-streaming="onSuccess()"
       channel="channel"
       cameraid="cameraId"
       placeholder="'images/yeoman.png'">
       <div class="alert alert-error" ng-show="webcamError">
           <span>Webcam could not be started. Did you give access to it?</span>
       </div>
   </webcam>
</div>

<div class="ss-overlay-top-left" ng-if="person.person.userData === 'wanted'">
  <div class="ss-overlay  ss-overlay-red">
    <div  class="ss-table">
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-icon-warrant ss-icon">
          </div>
        </div>
        <div class="ss-cell">
          <div class="overlay-text">
            WARRANT
          </div>
          <div class="overlay-text">
            {{ person.person.name }}&ndash;{{ person.dangerZone }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ss-overlay-top-left" ng-if="person.person.userData === 'missing'">
  <div class="ss-overlay  ss-overlay-yellow">
    <div  class="ss-table">
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-icon-missing ss-icon">
          </div>
        </div>
        <div class="ss-cell">
          <div class="overlay-text">
            MISSING
          </div>
          <div class="overlay-text">
            {{ person.person.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ss-overlay-bottom-left" ng-if="person.dangerZone === 'danger zone'">
  <div class="ss-overlay ss-overlay-red">
    <div  class="ss-table">
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-icon-missing ss-icon">
          </div>
        </div>
        <div class="ss-cell">
          <div class="overlay-text">
            DANGER ZONE!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ss-overlay-bottom-right">
  <div class="ss-status-text">
    {{ status }}
  </div>
  <!-- <div class="ss-overlay ss-overlay-red">
    <div  class="ss-table">
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-icon-missing ss-icon">
          </div>
        </div>
        <div class="ss-cell">
          <div class="overlay-text">
            DANGER ZONE!
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<a class="ss-list-button" ng-href="#!/list">
  <div>
    &vellip;
  </div>
</a>

<!--
<div class="ss-alert-content">
  <div>
    {{ person.person.name }}
  </div>
  <div>
    {{ person.age }}
  </div>
  <div>
    {{ person.gender }}
  </div>
  <div>
    neutral:{{ (person.emotion[0].scores.neutral) * 100 | number:0 }}
  </div>
  <div>
    happiness:{{ (person.emotion[0].scores.happiness) * 100 | number:0 }}
  </div>
  <div>
    anger:{{ (person.emotion[0].scores.anger) * 100 | number:0 }}
  </div>
  <div>
    disgust:{{ (person.emotion[0].scores.disgust) * 100 | number:0 }}
  </div>
  <canvas id="snapshot" style="display:none"></canvas>

</div> -->
<canvas id="snapshot" style="display:none"></canvas>
