<div class="fullscreen-bg">
  <webcam
       on-stream="onStream(stream)"
       on-error="onError(err)"
       on-streaming="onSuccess()"
       channel="channel"
       cameraid="cameraId"
       placeholder="'images/yeoman.png'">
       <div class="alert alert-error" ng-show="webcamError">
           <span>Webcam could not be started. Did you give access to it?</span>
       </div>
   </webcam>
</div>

<div class="ss-overlay-top-left" ng-if="person.person.userData === 'wanted'">
  <div class="ss-overlay  ss-overlay-red">
    <div  class="ss-table">
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-icon-warrant ss-icon">
          </div>
        </div>
        <div class="ss-cell">
          <div class="overlay-text">
            WARRANT
          </div>
          <div class="overlay-text warrant-name">
            {{ person.person.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ss-overlay-top-left" ng-if="person.person.userData === 'missing'">
  <div class="ss-overlay  ss-overlay-yellow">
    <div  class="ss-table">
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-icon-missing ss-icon">
          </div>
        </div>
        <div class="ss-cell">
          <div class="overlay-text">
            MISSING
          </div>
          <div class="overlay-text">
            {{ person.person.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ss-overlay-bottom-left" ng-if="person.dangerZone != 'caution'">
  <div class="ss-overlay">
    <div  class="ss-table">
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-progress-container">
            <div class="ss-progress ss-sadness" style="width:{{(person.emotion[0].scores.sadness)*100}}%;">
            </div>
          </div>
        </div>
      </div>
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-progress-container">
            <div class="ss-progress ss-anger" style="width:{{(person.emotion[0].scores.anger)*100}}%;">
            </div>
          </div>
        </div>
      </div>
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-progress-container">
            <div class="ss-progress ss-happy" style="width:{{(person.emotion[0].scores.happiness)*100}}%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ss-overlay-bottom-left" ng-if="person.dangerZone === 'caution'">
  <div class="ss-overlay ss-overlay-red">
    <div  class="ss-table">
      <div class="ss-row">
        <div class="ss-cell">
          <div class="ss-icon-missing ss-icon">
          </div>
        </div>
        <div class="ss-cell">
          <div class="overlay-text">
            DANGER ZONE!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ss-overlay-bottom-right">
  <div class="ss-status-text" ng-if="status === 'facefound'">
    <div class="ss-status-dot ss-dot-face">
    </div>
  </div>
  <div class="ss-status-text" ng-if="status === 'checking'">
    <div class="spinner"></div>
  </div>
  <div class="ss-status-text" ng-if="status === 'noface'">
    <div class="ss-status-dot ss-dot-noface">
    </div>
  </div>
</div>

<a class="ss-list-button" ng-href="#!/list">
  <div>
    &vellip;
  </div>
</a>
<canvas id="snapshot" style="display:none"></canvas>
