<style>
#left-eye{
  height:100vh;
  width:50vw;
  float:left;
  overflow:hidden;
}
#right-eye{
  height:100vh;
  width:50vw;
  float:left;
  overflow:hidden;

}
.webcam video{
  position: relative !important;
      top: -20vh !important;
      left: -40vw !important;
}
.ss-alert-content-stereo{
  position: relative;
  top: -142vh;
}
</style>
<div id="left-eye">
  <webcam
       on-stream="onStream(stream)"
       on-error="onError(err)"
       on-streaming="onSuccess()"
       channel="{'videoWidth':960,'videoHeight':690}"
       cameraid="cameraId"
       placeholder="'images/yeoman.png'">
       <div class="alert alert-error" ng-show="webcamError">
           <span>Webcam could not be started. Did you give access to it?</span>
       </div>
   </webcam>
   <div class="ss-alert-content-stereo">
     <div>
       {{ person.age }}
     </div>
     <div>
       {{ person.gender }}
     </div>
     <div>
       neutral:{{ (person.emotion[0].scores.neutral) * 100 | number:0 }}
     </div>
     <div>
       happiness:{{ (person.emotion[0].scores.happiness) * 100 | number:0 }}
     </div>
     <div>
       anger:{{ (person.emotion[0].scores.anger) * 100 | number:0 }}
     </div>
     <div>
       disgust:{{ (person.emotion[0].scores.disgust) * 100 | number:0 }}
     </div>
     <!-- <button class="btn btn-large btn-primary" ng-click="makeSnapshot()">Take snapshot!</button> -->
     <!-- <button ng-click="downloadSnapshot(snapshotData)" ng-disabled="!snapshotData" class="btn btn-large btn-primary">Download ^^</button> -->

   </div>
</div>

<div id="right-eye">
  <webcam
       on-stream="onStream(stream)"
       on-error="onError(err)"
       on-streaming="onSuccess()"
       channel="{'videoWidth':960,'videoHeight':690}"
       cameraid="cameraId"
       placeholder="'images/yeoman.png'">
       <div class="alert alert-error" ng-show="webcamError">
           <span>Webcam could not be started. Did you give access to it?</span>
       </div>
   </webcam>
   <div class="ss-alert-content-stereo">
     <div>
       {{ person.age }}
     </div>
     <div>
       {{ person.gender }}
     </div>
     <div>
       neutral:{{ (person.emotion[0].scores.neutral) * 100 | number:0 }}
     </div>
     <div>
       happiness:{{ (person.emotion[0].scores.happiness) * 100 | number:0 }}
     </div>
     <div>
       anger:{{ (person.emotion[0].scores.anger) * 100 | number:0 }}
     </div>
     <div>
       disgust:{{ (person.emotion[0].scores.disgust) * 100 | number:0 }}
     </div>
     <!-- <button class="btn btn-large btn-primary" ng-click="makeSnapshot()">Take snapshot!</button> -->
     <canvas id="snapshot" style="display:none"></canvas>
     <!-- <button ng-click="downloadSnapshot(snapshotData)" ng-disabled="!snapshotData" class="btn btn-large btn-primary">Download ^^</button> -->

   </div>
<div>
